
  <div class="static-banner">{{user.email}}'s picks</div>
    {{#each user.picks as |pick|}}
    {{> pick-details}}
    {{/each}}
    {{#if loggedIn}}
    <header>add a pick</header>
    <form class="form add-form">
      <label for="add-title">title:</label>
      <input class="form-input" type="text" id="add-title" />
      <label for="add-url">link to picture:</label>
      <input class="form-input" type="text" id="add-url" />
      <label for="add-desc">description:</label>
      <input class="form-input" type="text" id="add-desc" />
      <button class="btn btn-primary" id="addBtn" type="submit"></button>
    </form>
     <script src="./js/add.js"></script>
    {{/if}}
