:root {
  --primary: rgba(241, 132, 199);
  --secondary: gray;
  --tertiary: rgba(241, 132, 199);
  --quatrinary: black;
  --light: black;
  --dark: #000000;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: "Georgia";
  font-style: normal;
  background-color: white;
}

a,
#logout {
  color: var(--dark);
  padding: 10px;
  font-size: 20px;
}

header {
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  font-size: 14px;
  height: 40px;
  background-color: var(--secondary);
}

.gallery {
  background-color: #fff;
  max-width: 100%;
  flex: 1;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
}

.login-card {
  display: inline-grid;
  width: 300px;
  border: 3px solid var(--dark);
  background-color: var(--primary);
  color: var(--light);
  border-radius: 10px;
}

.search-card {
  display: inline-grid;
  width: 300px;
  border: 3px solid var(--dark);
  background-color: var(--primary);
  color: var(--light);
  border-radius: 10px;
}
.card {
  margin: 10px;
  display: inline-grid;
  width: 300px;
  height: 350px;
  border: 3px solid var(--dark);
  color: var(--light);
  border-radius: 10px;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-align: center;
}
.card header {
  color: var(--light);
  padding-top: 10px;
  font-size: 20px;
  background-color: var(--tertiary);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.add-form {
  display: inline-grid;
  width: 300px;
  height: 350px;
  border: 3px solid var(--dark);
  background-color: var(--primary);
  color: var(--light);
  border-radius: 10px;
}
.card-body {
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 10px;
}

/* LAYOUT */
h3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.page-title {
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- static-banner ---- */

.static-banner {
  position: absolute;
  top: 10px;
  padding: 10px 30px;
  color: white;
  background: rgba(241, 132, 199);
  font-size: 22px;
  z-index: 4; /* above items */
}
