:root {
  --primary: rgba(241, 132, 199);
  --secondary: gray;
  --tertiary: rgba(241, 132, 199);
  --quatrinary: black;
  --light: black;
  --dark: #000000;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: "Georgia";
  font-style: normal;
  background-color: white;
}

a {
  color: var(--dark);
  text-decoration: none;
}

header {
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  font-size: 10px;
  background-color: var(--secondary);
}

.gallery {
  background-color: #fff;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
}

.login-card {
  background-color: var(--primary);
  color: var(--light);
}

.search-card {
  border: 3px solid var(--dark);
  background-color: var(--primary);
  color: var(--light);
}

.card header {
  color: var(--light);
  margin: 0;
  font-size: 20px;
  background-color: var(--tertiary);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 10px;
}

/* LAYOUT */
h3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

label {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #eee;
  max-width: 100px;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 400px;
  float: left;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 {
  width: 320px;
}
.grid-item--width3 {
  width: 480px;
}
.grid-item--width4 {
  width: 720px;
}

.grid-item--height2 {
  height: 200px;
}
.grid-item--height3 {
  height: 260px;
}
.grid-item--height4 {
  height: 360px;
}

/* ---- static-banner ---- */

.static-banner {
  position: absolute;
  top: 10px;
  padding: 10px 30px;
  color: white;
  background: rgba(241, 132, 199);
  font-size: 22px;
  z-index: 4; /* above items */
}
